<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.webrelax.dao.CustomerMapper">
	<sql id="customer_where">
		<!--抽取出来的 加查询条件 -->
		<where>
			<!-- test里的变量名为，传递过来的参数名 -->
			<if test="custName!=null and custName!='' ">
				a.cust_name like '%${custName}%'
			</if>
			<if test="custSource!=null and custSource!='' ">
				and a.cust_source=#{custSource}
			</if>
			<if test="custIndustry!=null and custIndustry!='' ">
				and a.cust_industry =#{custIndustry}
			</if>
			<if test="custLevel!=null and custLevel!='' ">
				and a.cust_level =#{custLevel}
			</if>
		</where>
	</sql>
	<select id="findCustomerByVo" parameterType="cn.webrelax.pojo.QueryVo" resultMap="CustomerByVoResultMap">
		select cust_id,cust_name,
		b.dict_item_name as cust_source,c.dict_item_name as cust_industry,d.dict_item_name as cust_level,
		cust_phone,cust_mobile,cust_address,cust_linkman,cust_createtime,cust_create_id,cust_zipcode,cust_user_id
		FROM customer a 
		LEFT JOIN base_dict b ON a.cust_source=b.dict_id  #把customer表的这三个字段看作是base_dict的外键，连接查询生产新表后再次连接查询
		LEFT JOIN base_dict c on a.cust_industry=c.dict_id#由于每次连接查询的base_dict表中dict_item_name同名，所以要重命名
		LEFT JOIN base_dict d on a.cust_level=d.dict_id  #而且重命名和customer表中对应的字段一致，这是为了方便用Customer对象来接受数据
		<include refid="customer_where"></include>
		limit #{start},#{size}
	</select>
	<select id="findCustomerByVoCount" parameterType="cn.webrelax.pojo.QueryVo" resultType="int">
		select count(*)
		FROM customer a 
		LEFT JOIN base_dict b ON a.cust_source=b.dict_id  
		LEFT JOIN base_dict c on a.cust_industry=c.dict_id
		LEFT JOIN base_dict d on a.cust_level=d.dict_id 
		<include refid="customer_where"></include>
	</select>
	
	<select id="findCustomerById" parameterType="int" resultMap="CustomerByVoResultMap">
		select * from customer where cust_id=#{id}
	</select>
	<update id="updateCustommer" parameterType="cn.webrelax.pojo.Customer">
		update customer
		<set>
			<if test="cust_name!=null and cust_name!='' ">cust_name=#{cust_name},</if>
			<if test="cust_source!=null and cust_source!=''">cust_source=#{cust_source},</if>
			<if test="cust_industry!=null and cust_industry!=''">cust_industry=#{cust_industry},</if>
			<if test="cust_level!=null and cust_level!=''">cust_level=#{cust_level},</if>
			<if test="cust_linkman!=null and cust_linkman!=''">cust_linkman=#{cust_linkman},</if>
			<if test="cust_phone!=null and cust_phone!=''">cust_phone=#{cust_phone},</if>
			<if test="cust_mobile!=null and cust_mobile!=''">cust_mobile=#{cust_mobile},</if>
			<if test="cust_zipcode!=null and cust_zipcode!=''">cust_zipcode=#{cust_zipcode},</if>
			<if test="cust_address!=null and cust_address!=''">cust_address=#{cust_address},</if>
		</set>
		where cust_id=#{cust_id}
	</update>
	<delete id="deleteCustomerById" parameterType="int">
		delete from customer where cust_id=#{id}
	</delete>
	<resultMap type="cn.webrelax.pojo.Customer" id="CustomerByVoResultMap">
		<id column="cust_id" property="cust_id"/>
		<result column="cust_name" property="cust_name"/>
		<result column="cust_source" property="cust_source"/>
		<result column="cust_industry" property="cust_industry"/>
		<result column="cust_level" property="cust_level"/>
		<result column="cust_phone" property="cust_phone"/>
		<result column="cust_mobile" property="cust_mobile"/>
		<result column="cust_address" property="cust_address"/>
		<result column="cust_linkman" property="cust_linkman"/>
		<result column="cust_createtime" property="cust_createtime"/>
		<result column="cust_create_id" property="cust_create_id"/>
		<result column="cust_zipcode" property="cust_zipcode"/>
		<result column="cust_user_id" property="cust_user_id"/>
	</resultMap>
</mapper>